.container {
    --border-color: rgb(155, 155, 155);
    --background-color: rgb(200, 200, 200);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 2fr [second] 2fr [third] 6fr [four];
    grid-template-rows: [first] 1fr [second] 1fr [third];
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.leftHalf {
    grid-column-start: 1;
    grid-column-end: span third;
    grid-row-start: 1;
    grid-row-end: span third;
    background-color: var(--background-color);
    border-right: 2px solid var(--border-color);
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth];
    grid-template-rows: [first] 1fr [second] 1fr [third] 4fr [fourth];
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.rightHalf {
    grid-column-start: third;
    grid-column-end: span fourth;
    grid-row-start: 1;
    grid-row-end: span third;
    background-color: var(--background-color);
    border-left: 2px solid var(--border-color);
    border: 2px solid var(--border-color);
    overflow-y: auto;
}

.leftRow {
    grid-column-start: first;
    grid-column-end: span fifth;
    grid-auto-rows: 1;
}


.halfColumn {
    width: 50%;
    display: inline-block;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: var(--gutter);
    
}

.leftRow, .row {
    margin-top: calc(3 * var(--gutter));
}

.leftRow:first-of-type, .row:first-of-type {
    margin-top: var(--gutter);
}

.halfColumn .label {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
}

.halfColumn .value {
    display: inline-block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
}

.leftHalf .value {
    font-size: 1.5rem;
}

.row > .label {
    width: 15%;
    min-width: 15%;
    max-width: 15%;
    text-align: end;
}

.row .value {
    width: 78%;
    min-width: 78%;
    max-width: 78%;
}


.label {
    display: inline-block;
    font-weight: bold;
}



