.doc {
  display: block;
  padding: 5px;
  font-size: 1rem;
}

.docSize {
  font-size: 0.85rem;
  display: inline-block;
}

.docLink {
  color: rgb(var(--primaryFontColor));
  font-weight: bold;
}

.fileName {
  margin-right: 3px;
}

.docLink:hover {
  color: rgb(var(--primaryColor));
}
