.doc {
  display: block;
  padding: 5px;
  font-size: 1rem;
}

.docSize {
  font-size: .85rem;
}

.docLink {
  color: rgb(var(--primaryFontColor));
  font-weight: bold;
}

.docLink:hover {
  color: rgb(var(--primaryColor));
}