.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(var(--appBackgroundColor));
  position: relative;
}

.App .header {
  height: var(--headerHeight);
  min-height: var(--headerHeight);
  max-height: var(--headerHeight);
  width: 100vw;
}

.App .footer {
  min-height: var(--footerHeight);
  max-height: var(--footerHeight);
  height: var(--footerHeight);
  width: 100vw;
}

.App .main {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  width: 100vw;
}

.pageWrapper {
  height: 100%;
  width: 90%;
  padding-left: calc(4 * var(--gutter));
  padding-right: calc(4 * var(--gutter));
  color: rgb(var(--primaryFontColor));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 35px;
}

@media screen and (max-width: 620px) {
  .pageWrapper {
    height: 100%;
    width: 90%;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    color: rgb(var(--primaryFontColor));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 35px;
  }
}
