.boardMember {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 100%;
  padding-bottom: 20px;
}

figure {
  width: 100%;
  height: 220px;
}

figure > * {
  margin: auto;
}

figcaption {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

img {
  height: calc(100% - 20px);
  min-width: 170px;
  min-height: 170px;
  max-width: 250px;
  max-height: 250px;
  border: 2px solid rgb(var(--primaryColor));
  border-radius: 21%;

  margin: auto;
}

.details {
  margin-top: 10px;
  padding-left: 15px;
}

.details p:not(:last-of-type) {
  margin-bottom: 4px;
}

.fieldDescription {
  text-decoration: underline;
}

.fieldTitle {
  font-weight: bold;
}
