@media screen and (min-width: 500px) {
  :root {
    --figureWidth: 35%;
  }

  .boardMember {
    flex-wrap: nowrap;
  }

  .details {
    width: calc(100% - var(--figureWidth));
    margin-top: 0;
  }
}
