.navHamburger {
  display: block;
  height: 50px;
  width: 50px;
  transform: rotateZ(90deg);
  letter-spacing: -1px;
  top: var(--gutter);
  left: var(--gutter);
  background-color: rgb(var(--primaryButtonColor));
  border: none;
  box-shadow: black 0px 0px 8px -2px;
  border-radius: var(--buttonBorderRadius);
  position: absolute;
}

.navPanelBackground {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
}

.navPanelBackground.open {
  left: 0;
}

.navPanel {
  --panelWidth: 65vw;
  position: absolute;
  left: calc(-1 * var(--panelWidth));
  width: var(--panelWidth);
  height: auto;
  border-radius: 3px;
  transition: none;
  background-color: rgb(var(--secondaryColor));
  z-index: 2;
}

.navPanel.open {
  top: 0;
  left: 0;
  transition: left 0.3s ease;
  box-shadow: 1px 0 8px 0 black;
}

.navPanel > .exitButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  color: rgb(var(--primaryFontColor));
  transform: rotateZ(45deg);
  background-color: transparent;
  border: none;
}

.navList a {
  text-decoration: none;
}

.navList > li {
  paddingleft: var(--gutter);
  font-weight: bold;
  border-bottom: 1px solid black;
}

.navList > li,
.navSubList > li {
  display: block;
  line-height: 50px;
  margin: auto;
  text-align: left;
  color: rgb(var(--primaryFontColor));
  background-color: rgb(var(--secondaryColor));
}

.navSubList > li > a {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  color: rgb(var(--primaryFontColor));
  background-color: rgb(var(--secondaryColor));
}

.navSubList > li {
  border-bottom: 1px dashed black;
  line-height: 20px;
  position: relative;
  padding: 5px 5px;
  text-overflow: ellipsis;
  font-weight: normal;
}

.navSubList > li:last-of-type {
  border-bottom: none;
}

.navSubList > li:first-of-type {
  border-top: 1px dashed black;
}

.navList > li:last-of-type,
.navSubList > li:last-of-type {
  border-bottom: none;
}

.navSubList > li > a:hover {
  color: rgb(var(--secondaryColor));
  background-color: rgb(var(--primaryFontColor));
}
