.nav-container {
  height: 100%;
  position: relative;
}

.nav-hamburger {
  display: block;
  height: 50px;
  width: 50px;
  transform: rotateZ(90deg);
  letter-spacing: -1px;
  top: var(--gutter);
  left: var(--gutter);
  background-color: var(--primaryButtonColor);
  border: none;
  box-shadow: black 0px 0px 8px -2px;
  border-radius: 10%;
  position: absolute;
}

.nav-panel {
  --panelWidth: 65vw;
  position: absolute;
  width: var(--panelWidth);
  height: 100vh;
  background-color: transparent;
  left: calc(-1 * var(--panelWidth));
  transition: none;
}

.nav-panel.open {
  top: 0;
  left: 0;
  transition: left 0.3s ease;
}

.nav-panel > .exit-button {
  content: 'x';
  top: 2px;
  right: 3px;
  background-color: transparent;
  position: absolute;
}

.nav-list > li {
  padding-left: var(--gutter);
  font-weight: bold;
}

.nav-list > li,
.nav-sub-list > li {
  display: block;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin: auto;
  text-align: left;
  color: var(--secondaryFontColor);
  background-color: var(--secondaryColor);
}

.nav-sub-list > li {
  border-bottom: 1px dashed black;
  border-right: none;
  width: 80%;
  max-width: 80%;
  line-height: 20px;
  position: relative;
  padding: 5px 5px;
  text-overflow: ellipsis;
  font-weight: normal;
}

.nav-sub-list > li:first-of-type {
  border-top: 1px dashed black;
}

.nav-sub-list > li:last-of-type {
  border-bottom: none;
}

.nav-list > li:last-child {
  line-height: 2px;
}

.nav-sub-list > li:hover {
  color: var(--secondaryColor);
  background-color: var(--secondaryFontColor);
}
