.pageTitle {
  margin-top: 25px;
  margin-bottom: 50px;
}

.largeImageWrapper {
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

.largeImage {
  height: 600px;
  width: 850px;
  margin: auto;
}

.largeImage, .standardImage {
  display: block;
  position: relative;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.multiImageWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.standardImage {
  margin: 25px;
  height: 350px;
  width: 500px;
}
