@import './variables.css';
@import './reset.css';

body {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colorful-bottom-border {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #ddd 0%, teal 60%, #ddd 100%);
  border-image-slice: 1;
}

.websiteBorder {
  height: 100%;
  background-color: rgb(var(--primaryColor));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.5);
}
