:root {
  --fontSize: 16px;
  --primaryColor: 50, 150, 150;
  --secondaryColor: 170, 221, 221;
  --primaryFontColor: 18, 62, 105;
  --secondaryFontColor: 255, 255, 255;
  --primaryButtonColor: 0, 255, 255;
  --secondaryButtonColor: 255, 255, 255;
  --buttonBorderRadius: 20%;
  --gutter: 10px;
  --headerHeight: 70px;
  --footerHeight: 24px;
  --sandColor: 244, 230, 160;
}
