.pageWrapperOverride {
  align-items: flex-start;
}

.docList {
  list-style-type: none;
}

h2 {
  font-size: 1.2rem;
}

h2:first-of-type {
  margin-top: 15px;
}

.fileContainer li {
  padding-left: calc(var(--gutter) * 2);
}

.fileContainer {
  display: block;
  margin-bottom: 25px;
}

.doc {
  padding: 5px;
}

/*--------------Medium Screens--------*/
@media screen and (min-width: 768px) {
  .docList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    justify-content: center;
  }

  .doc {
    display: block;
    width: 50%;
    padding: 10px;
  }
}
