h2 {
    font-size: 1.2rem;
}

h2:first-of-type {
    margin-top: 15px;
}

.file-container li {
    padding-left: calc(var(--gutter)*2);
}

.file-container {
    display: block;
    margin-bottom: 25px;
}

