.pageDescription {
  width: 1200px;
  margin: auto;
  margin-bottom: 15px;
}

.recommendationListContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 42px;
}
