.pageTitle {
    margin-top: 25px;
    margin-bottom: 50px;
}

.pageDescription {
    width: 1200px;
    margin-bottom: 15px;
}

.recommendationListContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    row-gap: 25px;
}

.recommendationContainer {
    height: auto;
    width: 100%;
    box-shadow: 6px 6px 12px 0 rgba(0,0,0, .3);
}
