.navHamburger {
  display: block;
  height: 50px;
  width: 50px;
  transform: rotateZ(90deg);
  letter-spacing: -1px;
  top: var(--gutter);
  left: var(--gutter);
  background-color: rgb(var(--primaryButtonColor));
  border: none;
  box-shadow: 0 0 8px -2px black;
  border-radius: var(--buttonBorderRadius);
  position: absolute;
}

.navPanelBackground {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
}

.navPanelBackground.open {
  left: 0;
}

.navPanel {
  --panelWidth: 40vw;
  position: absolute;
  left: calc(-1 * var(--panelWidth));
  width: var(--panelWidth);
  height: auto;
  padding-left: var(--gutter);
  border-radius: 3px;
  transition: none;
  background: linear-gradient(to right, white 5%, rgb(var(--primaryColor)));
  z-index: 2;
}

.navPanel.open {
  top: 0;
  left: 0;
  transition: left 0.3s ease;
  box-shadow: 1px 0 8px 0 black;
}

.navPanel > .exitButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  color: rgb(var(--primaryFontColor));
  transform: rotateZ(45deg);
  background-color: transparent;
  border: none;
}

.navList > li {
  display: block;
  width: 100%;
}

.navList > li {
  font-weight: bold;
  color: rgb(var(--primaryFontColor));
  margin: var(--gutter) 0;
}

.navSubList > a {
  font-weight: normal;
  text-decoration: none;
  display: block;
  width: 90%;
  height: auto;
  padding-left: var(--gutter);
  color: rgb(var(--primaryFontColor));
}

.navSubList > a:hover {
  background-color: white;
}

@media screen and (min-width: 641px) {
  .navPanel {
    --panelWidth: 360px;
    left: calc(-1 * var(--panelWidth));
    width: var(--panelWidth);
  }
}

@media screen and (max-width: 640px) {
  .navPanel {
    --panelWidth: 80vw;
    left: calc(-1 * var(--panelWidth));
    width: var(--panelWidth);
  }

  .navHamburger {
    display: block;
    height: 40px;
    width: 40px;
    transform: rotateZ(90deg);
    letter-spacing: -1px;
    top: calc(1.6 * var(--gutter));
    left: calc(1 * var(--gutter));
    background-color: rgb(var(--primaryButtonColor));
    border: none;
    box-shadow: 0 0 8px -2px black;
    border-radius: var(--buttonBorderRadius);
    position: absolute;
  }
}
