.boardMember {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
}

.figure {
  min-width: 170px;
  min-height: 170px;
  max-width: 225px;
  max-height: 225px;
}

.figure > * {
  margin: auto;
}

.figureCaption {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

/* .image {
  height: calc(100% - 20px);
  width: 100%;
  border: 2px solid rgb(var(--primaryColor));
  border-radius: 21%;

  margin: auto;
} */

.details {
  margin-top: 10px;
  padding-left: 15px;
}

.details p:not(:last-of-type) {
  padding-bottom: 4px;
}

.fieldDescription {
  text-decoration: underline;
}

.fieldTitle {
  font-weight: bold;
}

/*------Medium Screens--------*/
@media screen and (min-width: 500px) {
  :root {
    --figureWidth: 35%;
  }

  .boardMember {
    flex-wrap: nowrap;
  }

  .details {
    width: calc(100% - var(--figureWidth));
    margin-top: 0;
  }
}
