.App {
  height: 100vh;
  width: 100vw;
}

.App > header {
  height: var(--headerHeight);
  width: 100vw;
}

.App > footer {
  height: var(--footerHeight);
  width: 100vw;
}

.App main {
  width: 100vw;
}

.ScrollableContent {
  overflow-y: scroll;
}
