@import './variables.css';
@import './reset.css';

body {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colorful-bottom-border {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, white 0%, teal 60%, white 100%);
  border-image-slice: 1;
}

.pageWrapper {
  height: 100%;
  width: 100%;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  color: rgb(var(--primaryFontColor));
}
