:root {
  --fontSize: 16px;
  --primaryColor: 50, 150, 150;
  --secondaryColor: #add;
  --primaryFontColor: 18, 62, 105;
  --secondaryFontColor: #fff;
  --primaryButtonColor: 0, 255, 255;
  --secondaryButtonColor: #fff;
  --buttonBorderRadius: 20%;
  --gutter: 10px;
  --headerHeight: 90px;
}
