.fig {
  background-size: cover;
  width: 450px;
  height: 350px;
  float: left;
  margin-right: 15px;
}

.description {
  display: block;
}

.description address {
  display: inline;
}

.usefulLinkTitle {
  margin-top: 40px;
}

.aboutTitle {
  margin-top: 40px;
}

.knowledgeTitle {
  margin-top: 25px;
}

.linkList,
.hoaMeeting,
.factList {
  list-style-type: none;
}

.webLink {
  margin-left: 25px;
  color: rgb(var(--primaryFontColor));
  font-weight: 600;
}

.webLink:hover {
  color: rgb(var(--primaryColor));
}

.factList > .fact {
  margin-top: 15px;
  text-indent: 30px;
}

.factList > .fact:first-of-type {
  margin-top: 10px;
}

.mandarinInfo,
.siennaInfo {
  margin-top: 10px;
  font-style: italic;
}
