.pageTitle {
  margin-top: 25px;
  margin-bottom: 50px;
}

.fig {
  background-size: cover;
  width: 700px;
  height: 600px;
  display: block;
  margin: 0 auto 25px auto;
}

.description {
  display: block;
  margin-top: 15px;
}

.description address {
  display: inline;
}

.sectionTitle {
  margin-top: 25px;
}

.linkList {
  list-style-type: none;
}

.webLink {
  margin-left: 25px;
  color: rgb(var(--primaryFontColor));
  font-weight: 600;
}

.webLink:hover {
  color: rgb(var(--primaryColor));
}

.factList {
  list-style-type: none;
}

.factList > .fact {
 margin-top: 15px;
 text-indent: 30px; 
}